/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  width: 100%;
  max-width: 650px;
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding-left: 16px;
  padding-right: 16px;
}
.header__font {
  font-weight: bold;
}
.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
